<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hawksama_AdminMenu::menu"
             title="Elements"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="55"
             resource="Hawksama_AdminMenu::menu"/>
        <add id="Hawksama_AdminMenu::content"
             title="Content"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="8000"
             parent="Hawksama_AdminMenu::menu"
             resource="Hawksama_AdminMenu::content"/>
        <add id="Hawksama_AdminMenu::configuration"
             title="Configuration"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="8000"
             parent="Hawksama_AdminMenu::menu"
             resource="Hawksama_AdminMenu::configuration"/>
        <add id="Hawksama_AdminMenu::documentation"
             title="Documentation"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="9000"
             parent="Hawksama_AdminMenu::menu"
             resource="Hawksama_AdminMenu::documentation"/>
        <add id="Hawksama_AdminMenu::widgets"
             title="Homepage Widgets"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="8000"
             action="adminhtml/widget_instance/index"
             parent="Hawksama_AdminMenu::content"
             resource="Hawksama_AdminMenu::widgets"/>
        <add id="Hawksama_AdminMenu::theme"
             title="Theme"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="8000"
             action="adminhtml/system_config/edit/section/elements"
             parent="Hawksama_AdminMenu::configuration"
             resource="Hawksama_AdminMenu::theme"/>
        <add id="Hawksama_AdminMenu::elements_documentation"
             title="Elements User Documentation"
             module="Hawksama_AdminMenu"
             translate="title"
             sortOrder="8000"
             action="documentation"
             parent="Hawksama_AdminMenu::documentation"
             target="_blank"
             resource="Hawksama_AdminMenu::elements_documentation"/>
    </menu>
</config>
